USE [master]
GO
/****** Object:  Database [api_db_to_code]    Script Date: 05/03/2025 11:56:28 ******/
CREATE DATABASE [api_db_to_code]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'api_db_to_code', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\api_db_to_code.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'api_db_to_code_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\api_db_to_code_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [api_db_to_code].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [api_db_to_code]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/03/2025 11:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 05/03/2025 11:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Item]    Script Date: 05/03/2025 11:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Item](
	[Order_Item_Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Id] [int] NULL,
	[Order_Id] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Order_Item] PRIMARY KEY CLUSTERED 
(
	[Order_Item_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 05/03/2025 11:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_Id] [int] IDENTITY(1,1) NOT NULL,
	[Order_Date] [datetime] NULL,
	[Order_Sum] [int] NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 05/03/2025 11:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [nchar](20) NULL,
	[Price] [money] NULL,
	[Category_Id] [int] NULL,
	[Description] [nvarchar](100) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 05/03/2025 11:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[RATING_ID] [int] IDENTITY(1,1) NOT NULL,
	[HOST] [nvarchar](50) NOT NULL,
	[METHOD] [nchar](10) NOT NULL,
	[PATH] [nvarchar](50) NOT NULL,
	[REFERER] [nvarchar](100) NOT NULL,
	[USER_AGENT] [nvarchar](max) NOT NULL,
	[Record_Date] [datetime] NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/03/2025 11:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[firstName] [nchar](10) NULL,
	[LastName] [nchar](50) NULL,
	[Password] [nchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250303090647_InitialCreate', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250303090715_api_db_to_code', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Category_Id], [Category_Name]) VALUES (1, N'Luxury Candles')
INSERT [dbo].[Categories] ([Category_Id], [Category_Name]) VALUES (2, N'Scented Candles')
INSERT [dbo].[Categories] ([Category_Id], [Category_Name]) VALUES (3, N'Decorative Candles')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_Id], [Order_Date], [Order_Sum], [User_Id]) VALUES (3, CAST(N'2025-03-03T23:17:50.717' AS DateTime), 10, 1)
INSERT [dbo].[Orders] ([Order_Id], [Order_Date], [Order_Sum], [User_Id]) VALUES (4, CAST(N'2025-03-03T23:20:43.370' AS DateTime), 0, 1)
INSERT [dbo].[Orders] ([Order_Id], [Order_Date], [Order_Sum], [User_Id]) VALUES (5, CAST(N'2025-03-04T06:20:47.063' AS DateTime), 20, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Product_Id], [Product_Name], [Price], [Category_Id], [Description], [Image]) VALUES (1, N'Candle 1            ', 21.9900, 3, N'Pumpkin-shaped candle for seasonal decor', N'1 (1).jpg')
INSERT [dbo].[Products] ([Product_Id], [Product_Name], [Price], [Category_Id], [Description], [Image]) VALUES (2, N'Candle 2            ', 27.9900, 4, N'Dark-themed gothic candle', N'1 (2).jpg')
INSERT [dbo].[Products] ([Product_Id], [Product_Name], [Price], [Category_Id], [Description], [Image]) VALUES (3, N'Candle 3            ', 14.9900, 1, N'Minimalist wax candle', N'1 (3).jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RATING] ON 

INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (2, N'localhost:44379', N'POST      ', N'/api/Users', N'https://localhost:44379/html/LogIn.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36', CAST(N'2025-03-03T11:16:17.440' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (3, N'localhost:44379', N'POST      ', N'/api/Users', N'https://localhost:44379/html/LogIn.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36', CAST(N'2025-03-03T11:16:28.827' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (4, N'localhost:44379', N'POST      ', N'/api/Users', N'https://localhost:44379/swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36', CAST(N'2025-03-03T11:17:19.430' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RATING] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [firstName], [LastName], [Password]) VALUES (1, N'yehudit@gmail.com   ', N'string    ', N'string                                            ', N'dfvgbneodikjhnbdtghs')
INSERT [dbo].[Users] ([UserId], [UserName], [firstName], [LastName], [Password]) VALUES (2, N'john.doe@example.com', N'John      ', N'Doe                                               ', N'Pass123!            ')
INSERT [dbo].[Users] ([UserId], [UserName], [firstName], [LastName], [Password]) VALUES (3, N'jane.doe@example.com', N'Jane      ', N'Doe                                               ', N'Secure456!          ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Order_Item_Order_Id]    Script Date: 05/03/2025 11:56:29 ******/
CREATE NONCLUSTERED INDEX [IX_Order_Item_Order_Id] ON [dbo].[Order_Item]
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_Item_Product_Id]    Script Date: 05/03/2025 11:56:29 ******/
CREATE NONCLUSTERED INDEX [IX_Order_Item_Product_Id] ON [dbo].[Order_Item]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_User_Id]    Script Date: 05/03/2025 11:56:29 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_User_Id] ON [dbo].[Orders]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Category_Id]    Script Date: 05/03/2025 11:56:29 ******/
CREATE NONCLUSTERED INDEX [IX_Products_Category_Id] ON [dbo].[Products]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_Order_Id] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Order_Id])
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [FK_Order_Id]
GO
ALTER TABLE [dbo].[Order_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Product_Id])
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [FK_Product_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [WF_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [WF_User_Id]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Category_Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Category_Id]
GO
USE [master]
GO
